# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Delve debug files
*__debug_bin*

# Dependency directories (remove the comment below to include it)
# vendor/

# IDEs/Editors
.vscode/

# Zk specific
notebook.db
zk

# Sphinx Docs / Python #
# created by `make docs` for building documentation locally
docs-build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

