# Build the Sphinx docs on PR to catch any issues before merging.
# Deployment happens on push/merge to main with gh-pages.yml
name: Build Docs

on:
  pull_request:
    branches: [main]
    paths: [docs/**]

jobs:
  pages:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install requirements
        run: pip install -r docs/requirements.txt
      - name: Build docs
        run: make zkdocs
