# Create a release by pushing a tag to remote.
# If the same tag is pushed again, the artifacts will be updated in the
# respective release on GitHub.

name: Release
on:
  push:
    branches: [main]
    tags: ['v*.*.*']

jobs:
  build-binaries:
    uses: ./.github/workflows/build-binaries.yml

  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # required for release creation
    needs: [build-binaries]
    steps:
      - name: Download artifacts from 'build binaries' workflow
        uses: actions/download-artifact@v6
        with:
          path: ~/downloaded
          merge-multiple: true
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: /home/runner/downloaded/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

