name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  homebrew:
    runs-on: macos-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{secrets.HOMEBREW_GITHUB_TOKEN}}
          formula: zk
